<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace : 패키지이름.클래스이름 ( 저장된 위치와 일치하도록 작성 ) -->
<mapper namespace="com.demoweb.mapper.BoardMapper">

	<select id="selectBoardByPage" parameterType="hashmap" resultType="com.demoweb.dto.BoardDto">
	SELECT boardno, title, writer, readcount, regdate, deleted
	FROM board
	ORDER BY boardno DESC
	LIMIT #{from},#{count}
	</select>
	
	<select id="selectBoardCount" resultType="int">
	SELECT COUNT(*) FROM board
	</select>
	
	<select id="selectBoardByBoardNo" parameterType="int" resultType="com.demoweb.dto.BoardDto">
	SELECT boardno, title, writer, content, readcount, regdate
	FROM board
	WHERE boardno = #{boardNo} AND deleted = FALSE
	</select>
	
	<select id="selectBoardAttachByBoardNo" parameterType="int" resultType="com.demoweb.dto.BoardAttachDto">
	SELECT attachno, boardno, userfilename, savedfilename, downloadcount
	FROM boardattach
	WHERE boardno = #{ boardNo }
	</select>
	

</mapper>











