<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/demo.css">
    <title>Demo Home</title>
</head>
<body>

    <h2>Flask Web Examples</h2>
    <hr>
    <h3>1. GET 방식 요청 테스트</h3>
    <form action="request-data-test" method="GET">
        이메일 : <input type="text" name="email"><br>
        패스워드 : <input type="password" name="passwd"><br>
        <input type="submit" value="GET 방식 전송">
    </form>
    <h3>2. POST 방식 요청 테스트</h3>
    <form action="request-data-test" method="POST">
        이메일 : <input type="text" name="email"><br>
        패스워드 : <input type="password" name="passwd"><br>
        <input type="submit" value="POST 방식 전송">
    </form>
    <h3>3. GET 방식 요청 테스트 2</h3>
    <form action="request-data-test" method="GET">
        이메일 : <input type="text" name="email"><br>
        <input type="submit" value="GET 방식 전송 2">
    </form>

    <h3>4. 가위 바위 보 게임</h3>
    <!-- 가위 바위 보 선택 후 요청 -->
    <form action="game1" method="POST">
        가위,바위,보 선택
        <select name="selection">
            <option value="1">가위</option>
            <option value="2">바위</option>
            <option value="3">보</option>
        </select>
        <br>
        <input type="submit" value="겨루기">
    </form>

    <h3>5. 로또 당첨 예상 번호 뽑기</h3>
    <!-- 게임 수 입력 후 요청-->
    <form action="lotto" method="POST">
        게임 수 : <input type="text" name="cnt">
        <br>
        <input type="submit" value="뽑기">
    </form>
    
</body>
</html>