<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Home</title>
</head>
<body>

    <h2>Flask Web Examples</h2>
    <hr>
    <h3>1. GET 방식 요청 테스트</h3>
    <form action="request-data-test" method="GET">
        이메일 : <input type="text" name="email"><br>
        패스워드 : <input type="password" name="passwd"><br>
        <input type="submit" value="GET 방식 전송">
    </form>
    <h3>2. POST 방식 요청 테스트</h3>
    <form action="request-data-test" method="POST">
        이메일 : <input type="text" name="email"><br>
        패스워드 : <input type="password" name="passwd"><br>
        <input type="submit" value="POST 방식 전송">
    </form>
    <h3>3. GET 방식 요청 테스트 2</h3>
    <form action="request-data-test" method="GET">
        이메일 : <input type="text" name="email"><br>
        <input type="submit" value="GET 방식 전송 2">
    </form>
    
</body>
</html>